*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#background{
    font-weight: 500;
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
    height: 100%;
    width: 100%;
    background-image: url(image2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
h1{
    font-size: 90px;; 
    letter-spacing: 15px; 
    background: linear-gradient(to right bottom,#13547a,#80d0c7);
    text-align: center;
    position: absolute;
    top: 0%;
    text-align: center;
    width: 100%;
    height: 15%;
    font-family: 'Anton', sans-serif;
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
#yug{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:transparent;
    color: black;
    border: solid 6px black;
    padding: 10px 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 1000px;
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
#yug:hover{
    background-color: black;
    color: teal;
    cursor: pointer;
    }
#def{
    font-size: 30px;
    position: absolute;
    top: 55%;
    left: 74%;
    text-align: center;
    color: blue;
    background: linear-gradient(to right bottom,#ee9ca7, #ffdde1);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
#ghi{
    font-size: 30px;
    position: absolute;
    top: 45%;
    left: 72%;
    text-align: center;
    color: blue;
    background: linear-gradient(to right bottom,#ee9ca7, #ffdde1);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
#abc{
    font-size: 30px;
    position: absolute;
    top: 70%;
    left: 65%;
    text-align: center;
    color: blue;
    background: linear-gradient(to right bottom,#ee9ca7, #ffdde1);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
p{
    color: red;
    height: 36%;
    width: 25%;
    position: absolute;
    top: 19%;
    font-size: 15px;
    background: linear-gradient(to right bottom,#434343, #000000);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
p1{
    color: springgreen;
    font-size: 25px;
    position: absolute;
    top: 70% ;
    left: 0%;
    background: linear-gradient(to right bottom,#2193b0, #6dd5ed);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
p2{
    color: springgreen;
    font-size: 25px;
    position: absolute;
    top: 75% ;
    left: 0%;
    background: linear-gradient(to right bottom,#2193b0, #6dd5ed);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
p3{
    color: springgreen;
    font-size: 25px;
    position: absolute;
    top: 80% ;
    left: 0%;
    background: linear-gradient(to right bottom,#2193b0, #6dd5ed);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
p4{
    width: 20%;
    color: springgreen;
    font-size: 25px;
    position: absolute;
    top: 90% ;
    left: 80%;
    background: linear-gradient(to right bottom,#c79081, #dfa579);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
    
}
p5{
    color: springgreen;
    font-size: 25px;
    position: absolute;
    top: 85% ;
    left: 0%;
    background: linear-gradient(to right bottom,#2193b0, #6dd5ed);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
#image{
    height: 19%;
    width: 16%;
    position: absolute;
    top: 15%;
    left: 84%;
    background-image: url(image.jpg);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
#image2{
    height: 37%;
    width: 14%;
    position: absolute;
    top: 62%;
    left: 44%;
    background-image: url(image4.jpg);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
#image3{
    height: 19%;
    width: 16%;
    position: absolute;
    top: 15%;
    left: 65%;
    background-image: url(image3.jpg);
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes text{
    from{
     clip-path: inset(200% 200% 200% 200%);
    }
    to{
        clip-path: inset(0 0 0 0);
    }
}